@using Project_QuanAo.Models;
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var nv = ViewBag.NhanVien as NhanVien;
    var maLoaiTK = Session["MaLoaiTK"];
    bool isAdmin = false;
    if (maLoaiTK != null && ((int)maLoaiTK == 2 || (int)maLoaiTK == 3))
    {
        isAdmin = true;
    }
    if (!isAdmin)
    {
        Response.Redirect(Url.Action("Index", "Home"));
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sửa nhân viên</title>
    <link rel="stylesheet" href="~/Content/form.css">
</head>
<body>
    <div class="container">
        @if (ViewBag.Message != null)
        {
            <div class="alert">
                @ViewBag.Message
            </div>
        }

        <form action="@Url.Action("SuaNhanVien", "Admin")" method="post" enctype="multipart/form-data">
            <h1>Sửa nhân viên</h1>

            <input type="hidden" name="MaNV" value="@nv.MaNV" />

            <div class="form-group">
                <input type="text" required="required" name="Ho" value="@nv.Ho" />
                <label for="Ho" class="control-label">Họ *</label><i class="bar"></i>
            </div>
            <div class="form-group">
                <input type="text" required="required" name="Ten" value="@nv.Ten" />
                <label for="Ten" class="control-label">Tên *</label><i class="bar"></i>
            </div>
            <div class="form-group">
                <input type="date" required="required" name="NgaySinh" value="@nv.NgaySinh" />
                <label for="NgaySinh" class="control-label">Ngày sinh</label><i class="bar"></i>
            </div>
            <div class="form-group">
                <input type="number" required="required" min="0" name="MaTK" value="@nv.MaTK" />
                <label for="MaTK" class="control-label">Mã tài khoản *</label><i class="bar"></i>
            </div>
            <div class="button-container">
                <button type="submit" class="button"><span>Submit</span></button>
            </div>
        </form>
    </div>
</body>
</html>
